<h1>Contact</h1>
<p>Aliquam dapibus maximus risus et varius. Donec tempus sollicitudin dignissim. Proin vitae nulla vitae augue iaculis convallis. In hac habitasse platea dictumst. Donec vitae purus sed lorem condimentum vulputate sit amet dapibus dolor. Suspendisse potenti. Sed in sapien consequat, varius nulla ut</p>
<div class="container-fluid">
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <a class="btn btn-primary " href="./website/">Enviar E-Mail</a> 
    </div>
</div>