<!-- your html code here -->
<div class="container" id="firstheading">
    <hr class="my-5">
        <div class="row">
        <div class="col-9">
            <h2>This First Heading<span class="text-muted"> Will Catch Your Eye</span></h2>            
            
            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis eusmod semper. Praesent commodo cursus magna, vel scelerisque nisl consecteur. Fusce dapibus, tellus ac crusus commodo.</p>
        </div>
        <div class="col-3">
        <img src="assets/img/1.jpg" class="rounded-circle img-fluid" style="width: 18rem;"/>
        </div>
    </div>
</div>
