<!-- your html code here -->
<div class="container justify-content-center mt-2">
    <div class="row justify-content-center">
        <div class ="col-7 text-left">
            <p><strong>This First Heading Will Catch Your Eyes</strong><br><small>
                Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis<br>
                eusmod semper.Praesent commodo cursus magna, vel scelerisque nisl <br>
                consecteur.Fusce dapibus, tellus ac crusus commodo.</small></p>
        </div>
        <div class="col-3">
            <img src="/workspace/exercise-collaborative-html-website/website/assets/img/1.jpg"class="rounded-circle" alt="">
        </div>
    </div>
</div>
          