<!-- your html code here -->
<div class="container mt-2 p-3 mb-2 bg-white text-dark border-bottom border-light">
    <div class="row">
        <div class="col-8 pt-3">
            <span class="h3"> This First Heading</span>
            <span class="h3 text-muted"> Will Catch Your Eye</span>            
            <br/>
            <div class="lead h6 mt-1"><small>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis<br/>
                    eusmod semper.Praesent commodo cursus magna, vel scelerisque nisl <br/>
                    consecteur.Fusce dapibus, tellus ac crusus commodo.</small></div>
        </div>
        <div class="col-4">
        <img src="assets/img/1.jpg" class="rounded-circle img-fluid"/>
        </div>
    </div>
</div>