    <div class="container" id="portfolio">
      <hr class="my-5">
        <h2>Portfolio</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
          doloremque facere laudantium quis reprehenderit ratione reiciendis cum,
          at, quo animi ex aliquam neque odit quaerat veniam. Non corporis nisi
          exercitationem.
        </p>
        <div class="card-group">
          <div class="card me-5 border-0">
            <img
              src="assets/img/big-project-image.png"
              class="card-img-top"
                   />
            <div class="card-body ps-0">
              <h5 class="card-title text-primary">Project Name</h5>
              <p class="card-text small">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
          doloremque facere laudantium quis reprehenderit ratione reiciendis cum.
              </p>
            </div>
          </div>
          <div class="card me-5 border-0">
            <img
              src="assets/img/big-project-image.png"
              class="card-img-top"
                />
            <div class="card-body ps-0">
              <h5 class="card-title text-primary">Project Name</h5>
              <p class="card-text small">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
          doloremque facere laudantium quis reprehenderit ratione reiciendis cum.
              </p>
            </div>
          </div>
  
          <div class="card border-0">
            <img
              src="assets/img/big-project-image.png"
              class="card-img-top"
                          />
            <div class="card-body ps-0">
              <h5 class="card-title text-primary">Project Name</h5>
              <p class="card-text small">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
          doloremque facere laudantium quis reprehenderit ratione reiciendis cum.
              </p>
            </div>
          </div>
        </div>
      </div>