<!-- your html code here -->



    <!-- PORTFOLIO -->

    <div class="container mt-5" id="portfolio">
        <h2 class="ps-3">Portfolio</h2>
        <p class="ps-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
          doloremque facere laudantium quis reprehenderit ratione reiciendis cum,
          at, quo animi ex aliquam neque odit quaerat veniam. Non corporis nisi
          exercitationem.
        </p>
        <div class="card-group">
          <div class="card m-3">
            <img
              src="https://i.pinimg.com/originals/e0/52/7a/e0527adc513999aca79e939e01aabe9c.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title text-primary">Proyect Name</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card m-3">
            <img
              src="https://i.pinimg.com/originals/e0/52/7a/e0527adc513999aca79e939e01aabe9c.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title text-primary">Proyect Name</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              </p>
            </div>
          </div>
  
          <div class="card m-3">
            <img
              src="https://i.pinimg.com/originals/e0/52/7a/e0527adc513999aca79e939e01aabe9c.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title text-primary">Proyect Name</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              </p>
            </div>
          </div>
        </div>
      </div>