<div class="card">
    <img
      src="/workspace/exercise-collaborative-html-website/website/assets/img/bg.jpg"
      class="backgroundimage"
      alt="..."
    />
    <div class="card-img-overlay pt-5">
      <h1
        class="container-fluid display-1 text-center bg-light p-2 text-dark bg-opacity-50 w-100"
      >
        One Page Wonder
      </h1>
      <h2
        class="container-fluid display-5 text-center bg-light p-2 text-dark bg-opacity-50"
      >
        Will Knock Your Socks Off
      </h2>
    </div>
  </div>